.Tecla {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(113, 141, 113);
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

@media screen and (orientation: portrait) {
    .WordContainer {
        width: 100%;
        height: 60%;
    }
}

.Tecla:hover {
    background-color: rgb(73, 92, 73);
}

.Tecla:disabled {
    background-color: rgb(73, 92, 73);
}