.letra {
    list-style: none;
    display: flex;
    position: absolute;
    top: 8rem;
    /* height: 40px; */
    gap: .8rem;
    flex-wrap: wrap;
    justify-content: center;
}

.letra li {
    font-size: 1.5rem;
    text-align: center;
    font-family: monospace;
    border-bottom: .15rem solid black;
    /* text-transform: uppercase; */
}